.header {
    padding: 25px 165px 25px 0px;
    background:var(--white);
    border-bottom: 1px solid var(--gray3);
}
.header__title {
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color:var(--gray4);
}

.header__logo {
    display: inline-flex;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon-active {
    width: 30px;
    height: 24px;
    color:var(--gray4);
    margin: 0 5px;
}

.icon {
    width: 30px;
    height: 24px;
    color:var(--gray3);
    margin: 0 5px;
}