.card {
    display: flex;
    flex-direction: column;
    flex-basis:222px;
    justify-content: flex-end;
    min-width: 222px;

   
/* height: 367px;
    flex-basis: 350px;
    margin: 15px;*/


    background:var(--white);
    box-shadow: 0 2px 4px rgba(33,36,41,0.05);
    border-radius: 12px;
}


.card__body {
    padding: 32px 32px 0 ;
    height: 320px;
    display: flex;
    justify-content: center; 
    align-items: center ;
    flex-basis:100px;
}
.card__element {

}

.card__label {
    margin-top: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    padding: 0 25px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    color: var(--black);
    
}

.card__type {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--gray4);

    margin-top: 6px;
    margin-bottom: 32px;
   
}