.column-chart {
    display: flex;
    border-radius: 12px;
    background: var(--white);
    border: 1px solid var(--gray2);
   /*  width: 100%;
   height: 100%;  */
  }

.column-chart__container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    flex-grow: 1;
    position: relative;
  }

.column-chart__title {
    font-family: Inter-Regular;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 24px 0 24px;
  }

  .column-chart__link {
    font-family: Inter-Regular;  
    color: var(--blue);
    text-decoration: none;
  }

  .column-chart__value{
    font-family: Inter-Regular;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin: 6px 24px 6px 24px ;
  }

  .column-chart__chart {
  /*  width:100%;*/
    display: flex;
    flex-direction: row;
    /*flex-grow: 1;*/
    justify-self: flex-end;
    justify-content: space-between;
    align-items: flex-end;
   /* margin-top: auto;*/
    padding:  24px 24px 24px 24px ;
  }


.column-chart__column {
    background-color: blue;
    min-width: 1px;
    flex-grow: 1;
    margin: 0 0 0 1px ;
    cursor: pointer; 
  }
