.radio {
    
}

.radio__state {
	display: flex;
    align-items: center;
    margin-top: 16px;
}

.radio__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    outline: none;
    position: absolute;
}

.radio__control{
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--gray2);
    box-sizing: border-box;
    border-radius: 14px;
    position: relative;
}

.radio__legend {
    margin-left: 12px;
    font-family: Inter-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray4);
}

.radio__icon {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.radio__input:disabled ~ .radio__state .radio__control{
    background: var(--gray2);
    border-color: var(--gray2);
}

.radio__input:checked ~ .radio__state .radio__control{
    border: 2px solid var(--blue);
}

.radio__input:checked ~ .radio__state .radio__icon {
    display: block;
}
.radio__input:focus ~ .radio__state .radio__legend{
    text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__legend{
    color: var(--gray2);
}


