
.calendar {
    border: 1px solid var(--gray3);
    border-radius: 8px;
    padding: 5% 10%;
   /* width: 100%;*/
   /* position: absolute;
    max-width: inherit;
    max-height: inherit;*/
}

.calendar__title {
    font-family: Inter-Regular;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    text-align: center;
    margin-bottom: 24px;
}

.calendar__wrapper {
    padding-bottom: 100%;
    position: relative;

}

.calendar__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: stretch;
}

.calendar__item {
    font-family: Inter-Regular;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;
    border: 0px solid var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align: center;
    vertical-align: middle;
    align-self: center;*/

}

.calendar__item_day {
    font-size: 14px;
    line-height: 20px;
    color: #90A087;
}

.calendar__item_nondate {
    color: var(--white);
}

.calendar__item_outerrange {
    background-color: var(--blue);
    color: var(--white); 
}

.calendar__item_inrange {
    background-color: #A0B1F5; 
}

.calendar__item_weekend {
    color: red;
}