.footer {
    text-align: center;
    background-color: #E5E5E5;
    padding: 56px 0 56px 0 ;
}

.footer__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    color:var(--gray3, #ACB5BD);

}