.nav {

}

.nav__item {
font-family: Inter-Regular;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--gray3);
padding-right: 24px;
/* identical to box height, or 150% */
}

.nav__item_active {
    color: var(--black);
}